.navigation {
    display: flex;
    width: 100%;
}

.navigation__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navigation__listRow{
    display: block;
    flex-grow: 4;
}

.navigation__listRow--last{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url("/images/logout.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.navigation__label {
    background-color: rgb(38, 117, 237);
    padding: 10px;
    border-radius: 5px;
    color: wheat;
    display: block;
    margin: 15px;
    max-width: 150px;
    cursor: pointer;
}

.navigation__anchor {
    text-decoration: none;
}

.section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 800px;
}

.section__div {
    flex-grow: 4;
}

.section__div--navigation{
     width: 200px;
}

.section__list {
    list-style-type: none;
    padding: 0px;
}

.section__table {
    margin:auto;
    border-collapse: collapse;
    width: 100%;
}

.section__tabelCell {
    text-align: center;
    padding: 20px;
}

.section__listRow{
    background-color: rgb(38, 117, 237);
    padding: 10px;
    border-radius: 5px;
    color: wheat;
    display: block;
    margin: 15px;
    max-width: 150px;
    cursor: pointer;
    text-align: center;
}

.section__tableHeader{
    text-align: center;
    background-color: rgb(38, 117, 237);
    color: wheat;
    margin: 0px;
    padding: 20px;
}

.section__tabelLabel{
    background-color: rgb(38, 117, 237);
    padding: 5px;
    border-radius: 5px;
    color: wheat;
    display: block;
    cursor: pointer;
    text-align: center;
}

.section__anchor {
    text-decoration: none;
}