.navigation {
    min-height: 56px;
    max-with: 100%;
    margin-bottom: 25px;
}

.navigation__div {
    float: left;
    margin: 20px;
    padding: 10px;
    background-color: rgb(50, 50, 255);
    border-radius: 5px;
    color: wheat;
}

.navigation__div--login {
    margin-left: 73%;
    background-color: blanchedalmond;
    border-radius: 5px;
    border: black solid 1px;
    color: black
}

.navigation__div--newAccount {
    margin-left: 20px;
    background-color: blanchedalmond;
    border-radius: 5px;
    border: black solid 1px;
    color:black;
}